@{
    ViewData["Title"] = "Home Page";
}

    <div class="center-graphic">
        <div class="center-graphic__bg"> 
        </div>
        <img class="center-graphic__composition" src="~/img/centergraphic.gif" alt="center piece">
    </div>
    @* <a class="btn btn--green" href="#">button</a> *@
